*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Bona Nova', serif;
	/*--ff-secondary: 'Noto Sans JP', sans-serif;*/
	--ff-secondary: Arial, Helvetica, sans-serif;
	--ff-bold: 'Anton', sans-serif;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;
	--clr-red: #FF0000;

	--fs-h1: 1.2rem;
	--fs-h2: 1rem;
	--fs-h3: 1rem;
	--fs-body: 0.7rem;
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 1.75rem;
		--fs-h2: 1.5rem;
		--fs-h3: 1.25rem;
		--fs-body: 0.9rem;
	}
}

li {
	display: table-cell;
}

body {
	padding: 0em 1em;
	background: var(--clr-light);
	margin: 0 auto;
	font-family: var(--ff-secondary);
	font-size: var(--fs-body);
	line-height: 1.6;
	max-width: 800px;
}

a {
	/* color: #21D0B2; */
	color: #0F9D58;
	text-decoration: none;
}

a:hover {
	/* color: #21D0B2; */
	color: #F4B400;
	text-decoration: underline;
}

hr.rounded {
	border-top: 1px solid #bbb;
	border-radius: 1px;
}

footer {
	text-align: center;
	color: gray;
}

section {
	padding: 0em 0em;
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
	max-width: 100%;
}

strong {
	font-weight: var(--fw-bold)
}

h1,
h2,
h3 {}

h1 {
	font-size: var(--fs-h1)
}

h2 {
	font-size: var(--fs-h2)
}

h3 {
	font-size: var(--fs-h3)
}

.main_title {
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: var(--fs-h1);
	font-family: var(--ff-primary);
}

.nav_item {
	font-family: var(--ff-primary);
	font-size: var(--fs-h2);
}

.nav_link {
	color: #5C3A92;
	margin-right: 1em;
	text-decoration: none;
}

.nav_link:hover {
	text-decoration: underline;
	color: #8a64d6
}

.pub_type_title {
	font-family: var(--ff-primary);
}

.news_title,
.pub_title {
	margin-bottom: 1em;
	margin-top: 0em;
	font-size: var(--fs-h2);
	font-family: var(--ff-primary);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.intro_sec {
	position: relative;
}

@media (min-width: 50px) {

	.intro_sec {
		margin: 0 auto;
		padding-bottom: 1em;
		padding-top: 1em;
	}


	.intro_image {
		margin-left: 2em;
		float: right;
		max-width: 25%;
		min-width: 100px;
		margin-bottom: 0.25em;
		margin-top: 0.25em;
	}



	.social_list {
		text-align: left;
	}

	.intro_content {
		margin: 0;
		text-align: left;
	}
}

.pub_sec {
	position: relative;
}

@media (min-width: 200px) {

	.pub_sec {
		padding-bottom: 1em;
	}

	.pub_type {}

	.pub_type_title {
		margin-left: 0em;
		margin-top: 0;
	}

	.a_pub {
		display: block;
		margin-top: 0em;
		margin-left: 0em;
		margin-bottom: 2.2em;
		min-height: 130px;
	}

	.pub_image {
		margin-left: 1.5em;
		float: right;
		max-width: 25%;
		min-width: 100px;
		margin-bottom: 0.5em;
	}

	.paper_title {
		margin: 0;
		/* color: #8A64D6; */
		color: #4285F4;
	}

	.author {
		margin: 0;
	}

	.conf {
		margin: 0;
		font-style: italic;

	}

	.pub_link {
		margin: 0;
	}
}

.news_sec {
	position: relative;
}

@media (min-width: 200px) {
	.news_sec {
		padding-bottom: 1em;
	}

	.a_news {
		margin: 0;
	}
}